<!doctype html>


<html lang="en">

<head>
    <meta charset="utf-8">

    <title>The HTML5 Herald</title>
    <meta name="description" content="The HTML5 Herald">
    <meta name="author" content="SitePoint">

    <link rel="stylesheet" href="css/styles.css?v=1.0">

    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <![endif]-->
</head>

<body>
    <!--

    Closure is an inner function that has access to the other outer function's variables in addition to it's own variables
     and global variables. The inner function hass access not only to the other function's variables, but also to the other function's parameters. You create a closure by adding a function inside another function.
-->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/vue/1.0.1/vue.js"></script>
    <script>
        function helloWorld() {
            var greeting = 'Hello';
            greeting = greeting + ' Javascript';
            document.write(greeting);
        }
        helloWorld();
        document.write(greeting);
    </script>

</body>

</html>