.navbar-inverse .navbar-brand{
    color: #2ff44c;
}

body {
    background-color: #dadade;

}

.templateColorChange{
    background-color:#6a3f7f;
    color:white;
    padding:30px;
}

.newContent{
    padding:20px;
}

.imageCarousel{
    margin-top: 20px;
    max-width: 100% ;
    min-width: 100% ;

}

